.lower-nav {
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px grey;
    color: rgb(66, 66, 66);
    position: absolute;
    width: 100%;
    bottom: 0px;
    position: fixed;
    padding: 5px;
    display: none;
    z-index: +1;

}

.optionss {
    margin: 10px 20px 10px 20px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.opts {
    cursor: pointer;
}
.opts:hover {
    color: grey;
}

@media only screen and (max-width: 600px) {

    .lower-nav {
        display: flex;
    }
}